.DS_Store
# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*R_cache/
*_cache/
# Ignore tokens
*.rds
.httr-oauth
token
googlesheets_token.rds
# ignore temporary download files
2016-04-20-processed-logs*
public
# ignore html output results
*.html
# ignore public folder
public/
