/* Custom CSS */

/* callout boxes */
/* cf. https://rossabaker.com/configs/website/shortcodes/callout/ */
.callout {
    margin: 1.5rem 0;
    padding: 1em;
    border-inline-start: .25em solid;
}

.callout-title {
    font-weight: bolder;
    margin-bottom: 1em;
}

.callout-note {
    border-color: #366196;
    background: #b4c9e4;
}

.callout-emphasize {
    border-color: #993368;
    background: #e6b2cd;
}

/* captions */
/* cf. https://thesynack.com/posts/markdown-captions */
figcaption {
  font-style: italic;
  font-size: small;
  padding: 0px;
  text-align: center;
}


/* SIDEBAR */

/* Add gray background to sidebar */
.sidebar {
    background-color: #f5f5f5;
    }

    .sidebar .sub-menu-toggler {
        background-color: transparent;
    }

/* CONTENT */

#content {
    }

    /* Use fuchsia links in content */
    #content a,
    #content a:hover,
    #content a:active,
    #content a:visited {
        color: #c04384!important;
        border-bottom: none!important;
        }

        #content a:hover {
            text-decoration: underline;
        }
	/* Code in hyperlink inherits colour */
	#content a code {
	    color: inherit;
	}

  	/* Caption style */
  	#content .caption {
  	  font-size: 80%;
  	  font-style: italic;
  	  padding-bottom: 24px;
  	  }

  	/* CSL entry */
  	#content .csl-entry {
  	  padding-bottom: 24px;
  	  }

    /* Style descriptions (set in layouts/_default/li.html) */
    #content .item .description {
        font-size: 80%;
        margin: 0;
    }

    /* Style anchor links (set in layouts/partials/entry.html) */
    #content .anchor {
        margin-left: 10px;
        text-decoration: none;
        visibility: hidden;
        }
        #content .anchor svg path {
            fill: #c04384;
        }

        #content h1:hover .anchor,
        #content h2:hover .anchor,
        #content h3:hover .anchor,
        #content h4:hover .anchor {
            visibility: visible;
        }

    /* Use white code blocks */
    #content .highlight pre {
        border: 1px solid #bdbdbd;
        color: #212121;
    }

    /* Use gray output blocks */
    #content pre {
        background: #f5f5f5;
        border: 0;
        color: #808080;
    }

    /* Don't squize wide tables, but add horizontal scroll */
    #content table {
        border: none;
        border-collapse: collapse;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        }

        #content th,
        #content td {
            border-width: 1px;
        }
