/* Custom CSS */

/* Add gray background to sidebar */
.sidebar {
    background-color: #f5f5f5;
    }

    .sub-menu-toggler {
        background-color: transparent;
    }

/* Use fuchsia links in content */
#content a,
#content a:focus,
#content a:hover,
#content a:visited {
    color: #c04384!important;
    border-bottom: none!important;
    }

    #content a:hover {
        text-decoration: underline;
    }

/* Use white code blocks */
.highlight pre {
    border: 1px solid #dcdcdc;
    color: #212121;
}

/* Use gray output blocks */
pre {
    background: #f5f5f5;
    border: 0;
    color: #808080;
}

/* Don't squize wide tables, but add horizontal scroll */
table {
    border: none;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    }

    th, td {
        border-width: 1px;
    }
