/* Custom CSS */


/* Use white code blocks */
.highlight pre {
    border: 1px solid #dcdcdc;
    color: #212121;
}

/* Use gray output blocks */
pre {
    background: #f5f5f5;
    border: 0;
    color: #808080;
}

